<app-loading class="m-5" *ngIf="loadingArtists"></app-loading>


<div class="row animated fadeIn m-1 " *ngIf="!loadingArtists">
    <div class="col-2">
        <img [src]="artista.images | noimages" class=" img-circle img-thumb2">

    </div>
    <div class="col">
        <h3>{{ artista.name | uppercase }}</h3>
        
        <div class="btn btn-success radius btn-sm"> <small>Followers</small> {{ artista.followers.total | number }}</div>

        <p>
            <a [href]="artista.external_urls.spotify" target="_blank"> Ir a la pagina del artista. </a>
        </p>

    </div>
    <div class="col-4 text-right">

        <button routerLink="/search" class="btn btn-outline-danger">Regresar</button>
 
    </div>

    
</div>
<br>

<div class="row m-1">
    <div class="col">
        <table class="table">
            <thead class="text-white text-center">
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Cancion</th>
                    <th>Vista previa</th>
                    <th>Reproducciones</th>
                </tr>
            </thead>            
            <tbody  class="text-white text-center">
                <tr *ngFor="let track of topTracks">
                    <td><img [src]="track.album.images | noimages" class="img-thumb"></td>
                    <td>{{ track.album.name }}</td>
                    <td>{{ track.name }}</td>
                    <td> <iframe [src]=" track.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></td>
                    <th><small>{{ track.duration_ms | number}}</small></th>
                </tr>

            </tbody>

        </table>
 



    </div>
</div>